a {
	color: red;
	text-decoration: none;
}


.logo {
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
}

.header {	
	display: -webkit-flex;
	-webkit-justify-content: space-between;	
}
.headeractions {
	display: -webkit-flex;
	-webkit-align-items: center;
}

.navigation {
	margin-right: 8px;
	padding-left: 8px;
	font-family: "arial", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.MAIN {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	margin-left: 50px;
	width: 1000px;
}

.trentbio {
	padding-top: 50px;
	font-family: "garamond";
	font-size: 20px;
	margin-right: 50px;
	text-decoration: none;
}

.social {
	display: -webkit-flex;
	-webkit-justify-content: margin-left;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	font-size: 18px;
	font-color: red;
	font-family: "Garamond";
}
.projects {

}

.content {
	display: -webkit-flex;
	-webkit-align-items: center;
}

.content__text {	
	text-decoration: none;
	font-family: "garamond";
	max-width: 300px;
	font-size: 18px;
	margin-left: 50px;
}

.content__image {
}
.more {
	display: -webkit-flex;
	-webkit-flex: flex-start;
	font-style: "garamond";
	font-size: 18px;

}
.bottomlinks {
	display: -webkit-flex;
}
.bottomlinks__twitter {
	display: -webkit-flex;
	-webkit-flex: flex-start;
	padding-top: 50px;
	font-family: "arial", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.bottomlinks__other {
	padding-top: 50px;
	padding-left: 200px;
}
.line {
	width: 100%;
	border-top: 1px solid #929CA2;
}
}

