a {
	color: red;
	text-decoration: none;
}
body {
	width: 100%;
}
.container {
	width: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
}

.logo {
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
}
.banner {
	display: -webkit-flex;
	margin-bottom: 20px;
	margin-top: 120px;
}
.banner--article {
	display: block;
}
.columnwrapper {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	padding-left: 20px;
}
.blogpost {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	margin-bottom: 150px;
}

.banner__header {
	font-size: 48px;
}
.banner__subhead {
	font-style: italic;
	font-size: 28px;
	color: #9C9CA2;
}
.banner__image {
	height: 100px;
	width: 180px;
}
.banner__text {
	font-size: 24px;
}
.articleText {
	font-size: 28px;
	line-height: 36px;
}
.tagged {
	font-size: 24px;
	margin-bottom: 60px;
}
.header {	
	display: -webkit-flex;
	-webkit-justify-content: space-between;	
}
.headeractions {
	display: -webkit-flex;
	-webkit-align-items: center;
}

#navigation a {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: flex-end;
	-webkit-flex-direction: column;

	margin-right: 8px;
	padding-left: 8px;
	font-family: "arial", sans-serif;
	color: #9C9CA2;
	font-weight: bold;
	font-size: 14px;
}
#navigation a:hover {
	color: red;
}
#navigation #currentpage a {
	color: black;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.MAIN {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	width: 850px;
}

.main--blogPost {
	width: 650px;
}

.main--article {
	width: 750px;
	-webkit-align-items: flex-start;
}

.trentbio {
	padding-top: 50px;
	font-family: "garamond";
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 20px;
	text-decoration: none;
}

.social {
	display: -webkit-flex;
	-webkit-justify-content: margin-left;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	font-color: red;
	font-family: "Garamond";
}
.projects {

}

.content {
	display: -webkit-flex;
	-webkit-align-items: center;
}

.content__text {	
	text-decoration: none;
	font-family: "garamond";
	font-size: 18px;
	margin-left: 50px;
}

.content__image {
	padding-top: 30px;
	padding-bottom: 30px;
	height: 250px;
	width: 250px;
}

.more {
	display: -webkit-flex;
	-webkit-flex: flex-start;
	font-style: "garamond";
	font-size: 18px;
	padding-bottom: 100px;
}

.bottomlinks__twitter {
	display: -webkit-flex;
	-webkit-flex: flex-start;
	padding-top: 50px;
	font-family: "arial", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.bottomlinks__text {
	padding-right: 20px;
	font-size: 14px;
	font-family: "arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.bottomlinks__img {
	height: 40px;
	width: 40px;	
}
.actions {
	margin-bottom: 60px;
}
.actions__title {
	font-size: 48px;
	margin-bottom: 15px;
}
.actions__text {
	font-size: 24px;
}
.actions__form {
	height: 30px;
	width: 300px;
	margin: 10px 10px 0 0;
	border: 1px solid #9C9CA2;
}
.actions__form--comment {
	width: 100%;
	height: 300px;
}
.actions__submit {
	border: none;
	background-color: black;
	color: white;
	font-size: 24px;
	font-family: serif;
	padding: 10px 15px;
	margin-top: 20px;
}
.actions__submit:hover {
	background-color: #EE4938;
}
.line {
	width: 100%;
	border-top: 1px solid #929CA2;
}
.footer {
	width: 100%;
	padding: 20px;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
}
.bottomlinks {
	display: -webkit-flex;
	-webkit-align-items: center;

}

