a {
	color: red;
	text-decoration: none;
}
body {
	width: 100%;
}
.container {
	width: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
}

.logo {
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
}
.banner {
	display: -webkit-flex;
	margin-bottom: 20px;
	margin-top: 120px;
}

.columnwrapper {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	padding-left: 20px;
}
.blogpost {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	margin-bottom: 150px;
}

.blogpost__header {
	font-size: 48px;
}
.blogpost__subhead {
	font-style: italic;
	font-size: 28px;
	color: #9C9CA2;
}
.blogpost__image {
	height: 100px;
	width: 180px;
}
.blogpost__text {
	font-size: 24px;
}

.header {	
	display: -webkit-flex;
	-webkit-justify-content: space-between;	
}
.headeractions {
	display: -webkit-flex;
	-webkit-align-items: center;
}

.navigation {
	margin-right: 8px;
	padding-left: 8px;
	font-family: "arial", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.MAIN {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	width: 850px;
}

.main--blogPost {
	width: 650px;
}


.trentbio {
	padding-top: 50px;
	font-family: "garamond";
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 20px;
	text-decoration: none;
}

.social {
	display: -webkit-flex;
	-webkit-justify-content: margin-left;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	font-color: red;
	font-family: "Garamond";
}
.projects {

}

.content {
	display: -webkit-flex;
	-webkit-align-items: center;
}

.content__text {	
	text-decoration: none;
	font-family: "garamond";
	font-size: 18px;
	margin-left: 50px;
}

.content__image {
	padding-top: 30px;
	padding-bottom: 30px;
}

.more {
	display: -webkit-flex;
	-webkit-flex: flex-start;
	font-style: "garamond";
	font-size: 18px;
	padding-bottom: 100px;
}

.bottomlinks__twitter {
	display: -webkit-flex;
	-webkit-flex: flex-start;
	padding-top: 50px;
	font-family: "arial", sans-serif;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.bottomlinks__text {
	padding-right: 20px;
	font-size: 14px;
	font-family: "arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.line {
	width: 100%;
	border-top: 1px solid #929CA2;
}
.footer {
	width: 100%;
	padding: 20px;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
}
.bottomlinks {
	display: -webkit-flex;
	-webkit-align-items: center;

}

